// Colors

$mk_color_appsmenu_text: #000000;
$mk_color_appbar_text: #000000;
$mk_color_appbar_background: #714B67;

// Override

$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-background: $mk_color_appbar_background;